ul
  li
    a(href='/')
      i.fa.fa-spinner.fa-3x.fa-fw
      span Home
  li
    a(href='/about')
      i.fa.fa-umbrella.fa-3x
      span About
  li
    a(href='/faq')
      i.fa.fa-gratipay.fa-3x
      span FAQ
  li
    a(href='/aliens')
      i.fa.fa-gratipay.fa-3x
      span Aliens
  li
    a(href='/aliens/new')
      i.fa.fa-gratipay.fa-3x
      span New Alien
